$light-blue: rgb(102, 217, 255);
$light-green: rgb(179, 255, 153);
$light-rose: rgb(249, 185, 213);
$light-orange: rgb(255, 192, 126);
$light-yellow: rgb(255, 239, 126);
$light-gray: rgb(175, 172, 177);
$red-mistaked: rgba(221, 64, 64, 0.5);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.content {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text-wrapper {
    width: 66%;
    height: 150px;
    text-align: center;
    border: 2px solid #000;
    overflow-y: scroll;

    &__content {
      width: 100%;

      &--char-correct {
        background: $light-blue;
      }

      &--char-mistaked {
        background: $red-mistaked;
      } 
    }
  }

  .game-data {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  .input {
    width: 90%;
    display: flex;
    justify-content: center;

    & > textarea {
      width: 66%;
    }
  }

  .keyboard {
    width: 100%;
    height: auto;
    text-align: center;
    &__key {
      width: 6.6%;
      height: 60px;
      margin: 1px;
      border: 1px solid #000;
      border-radius: 5px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      transition-duration: 0.1;
      font-size: 20px;
      position: relative;

      &__super {
        position: absolute;
        left: 5px;
        top: 0;
        font-size: 22px;
      }

      &--extrawide {
        width: 35%;
      }

      &--next {
        box-shadow: 0px -1px 8px 4px #e2b428;
      }

      &--blue {
        background: $light-blue;
      }

      &--green {
        background: $light-green;
      }

      &--rose {
        background: $light-rose;
      }

      &--orange {
        background: $light-orange;
      }

      &--yellow {
        background: $light-yellow;
      }

      &--gray {
        background: $light-gray;
      }
    }
  }
}
