// переместить переменные в отдельный модуль

$main-gray: rgb(148, 149, 153);
$main-yellow: rgb(240, 217, 86);
$main-font: "Exo 2", sans-serif;
$light-blue: rgb(102, 217, 255);
$light-green: rgb(73, 208, 115);
$light-rose: rgb(249, 185, 213);
$light-orange: rgb(255, 192, 126);
$light-yellow: rgb(255, 239, 126);
$light-gray: rgb(175, 172, 177);
$red-mistaked: rgb(215, 91, 91);
$yellow-correct: linear-gradient(
  to right,
  $main-yellow,
  $main-yellow 50%,
  white 50%
);
@import "./modalWindow";

@mixin character {
  display: inline-block;
  overflow: hidden;
  color: #949599;
  background-size: 0 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.content {
  max-width: 1280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $main-gray;
  font-family: $main-font;

  .header {
    display: flex;
    justify-content: space-between;
    width: 66%;
    color: #000;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text-wrapper {
      width: 66%;
      height: 200px;
      overflow-y: scroll;

      &--active {
        color: #000;
      }

      .word {
        display: inline-block;

        &__char {
          background: $yellow-correct;
          @include character;

          &--char-correct {
            background-position: 0 100%;
          }

          &--char-mistaked {
            background: none;
            color: $red-mistaked;
            -webkit-text-fill-color: unset;
          }
        }
      }
    }

    .game-data {
      width: 40%;
      display: flex;
      justify-content: space-between;
      color: #000;
    }

    .keyboard {
      width: 100%;
      height: auto;
      text-align: center;
      &__key {
        width: 4.3%;
        height: 40px;
        margin: 1px;
        border: 1px solid #000;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        position: relative;

        &__char {
          font-size: 22px;
        }

        &__super {
          position: absolute;
          left: 5px;
          top: 0;
          font-size: 18px;
        }

        &--extrawide {
          width: 35%;
        }

        &--next {
          box-shadow: 0px -1px 8px 4px #e2b428;
        }

        &--blue {
          background: $light-blue;
        }

        &--green {
          background: $light-green;
        }

        &--rose {
          background: $light-rose;
        }

        &--orange {
          background: $light-orange;
        }

        &--yellow {
          background: $light-yellow;
        }

        &--gray {
          background: $light-gray;
        }
      }
    }
  }
}
