$light-blue: rgb(102, 217, 255);
$light-green: rgb(179, 255, 153);
$light-rose: rgb(249, 185, 213);
$light-orange: rgb(255, 192, 126);
$light-yellow: rgb(255, 239, 126);
$light-gray: rgb(175, 172, 177);
$red-mistaked: rgba(221, 64, 64, 0.5);
@import './modalWindow';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: monospace;
}

.content {
  max-width: 1280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #FFF;

  .header {
    display: flex;
    justify-content: space-between;
    width: 66%;
    color: #fff;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text-wrapper {
      width: 66%;
      height: 200px;
      text-align: center;
      border: 2px solid #000;
      overflow-y: scroll;
      background: #fff;
      color: rgb(117, 117, 117);

      &--active {
        color: #000;
      }

      &__content {
        width: 100%;

        &--char-correct {
          background: $light-blue;
        }

        &--char-mistaked {
          background: $red-mistaked;
        }
      }
    }

    .game-data {
      width: 40%;
      display: flex;
      justify-content: space-between;
      color: #fff;
    }

    .input {
      width: 100%;
      height: 170px;
      display: flex;
      justify-content: center;

      & > textarea {
        width: 66%;
      }
    }

    .keyboard {
      width: 100%;
      height: auto;
      text-align: center;
      &__key {
        width: 4.3%;
        height: 40px;
        margin: 1px;
        border: 1px solid #000;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        position: relative;

        &__char {
          font-size: 22px;
        }

        &__super {
          position: absolute;
          left: 5px;
          top: 0;
          font-size: 18px;
        }

        &--extrawide {
          width: 35%;
        }

        &--next {
          box-shadow: 0px -1px 8px 4px #e2b428;
        }

        &--blue {
          background: $light-blue;
        }

        &--green {
          background: $light-green;
        }

        &--rose {
          background: $light-rose;
        }

        &--orange {
          background: $light-orange;
        }

        &--yellow {
          background: $light-yellow;
        }

        &--gray {
          background: $light-gray;
        }
      }
    }
  }
}
