* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .text__content {
  width: 90%;
  font-size: 18px;
  text-align: center;
}
.content .text__content--char-correct {
  background: #66d9ff;
}
.content .text__content--char-mistaked {
  background: rgba(221, 64, 64, 0.5);
}
.content .keyboard {
  width: 100%;
  height: auto;
  text-align: center;
}
.content .keyboard__key {
  width: 6.6%;
  height: 60px;
  margin: 1px;
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition-duration: 0.1;
}
.content .keyboard__key--extrawide {
  width: 35%;
}
.content .keyboard__key--pressed {
  transform: scale(0.95);
}
.content .keyboard__key--blue {
  background: #66d9ff;
}
.content .keyboard__key--green {
  background: #b3ff99;
}
.content .keyboard__key--rose {
  background: #f9b9d5;
}
.content .keyboard__key--orange {
  background: #ffc07e;
}
.content .keyboard__key--yellow {
  background: #ffef7e;
}
.content .keyboard__key--gray {
  background: #afacb1;
}
