.blackout {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(221, 221, 221, 0.527);
  transition: all 0.25s;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.25s;
  text-align: center;
  border: 2px solid #000;
}
.modal .header {
  width: 100%;
}
.modal .table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .table-body {
  width: 97%;
}
.modal .table-body > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: monospace;
}

.content {
  max-width: 1280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #FFF;
}
.content .header {
  display: flex;
  justify-content: space-between;
  width: 66%;
  color: #fff;
}
.content__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content__wrapper .text-wrapper {
  width: 66%;
  height: 200px;
  text-align: center;
  border: 2px solid #000;
  overflow-y: scroll;
  background: #fff;
  color: #757575;
}
.content__wrapper .text-wrapper--active {
  color: #000;
}
.content__wrapper .text-wrapper__content {
  width: 100%;
}
.content__wrapper .text-wrapper__content--char-correct {
  background: #66d9ff;
}
.content__wrapper .text-wrapper__content--char-mistaked {
  background: rgba(221, 64, 64, 0.5);
}
.content__wrapper .game-data {
  width: 40%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.content__wrapper .input {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
}
.content__wrapper .input > textarea {
  width: 66%;
}
.content__wrapper .keyboard {
  width: 100%;
  height: auto;
  text-align: center;
}
.content__wrapper .keyboard__key {
  width: 4.3%;
  height: 40px;
  margin: 1px;
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
}
.content__wrapper .keyboard__key__char {
  font-size: 22px;
}
.content__wrapper .keyboard__key__super {
  position: absolute;
  left: 5px;
  top: 0;
  font-size: 18px;
}
.content__wrapper .keyboard__key--extrawide {
  width: 35%;
}
.content__wrapper .keyboard__key--next {
  box-shadow: 0px -1px 8px 4px #e2b428;
}
.content__wrapper .keyboard__key--blue {
  background: #66d9ff;
}
.content__wrapper .keyboard__key--green {
  background: #b3ff99;
}
.content__wrapper .keyboard__key--rose {
  background: #f9b9d5;
}
.content__wrapper .keyboard__key--orange {
  background: #ffc07e;
}
.content__wrapper .keyboard__key--yellow {
  background: #ffef7e;
}
.content__wrapper .keyboard__key--gray {
  background: #afacb1;
}
